<html>
<head>
    <title>	FORMULARIO</title>
</head>
<body>
        <h1>FORMULARIO</h1>
        
    <h3>Agregar amigos</h3>
    
    <form method="post">
    
        <label for="nombres-text">Nombres:</label>
        <div>
            <input id="nombres" name="nombres" type="text" placeholder="Nombres" id="nombres-text">
        </div>
    
        <label for="apellidos-text">Apellidos:</label>
        <div>
            <input id="apellidos" name="apellidos" type="text" placeholder="Apellidos" id="apellidos-text">
        </div>
    
        <button type="submit">Enviar</button>
    
    </form>

</body>
</html>